.navbar .nav-link.active {
    color: var(--primary-color);
    background: var(--background-color);
}

.nav-link {
  border-radius: 20px;
  color: var(--color-text-light);
}

.nav-link:hover {
  color: var(--primary-color);
  background: var(--background-color);
} 

.navbar-nav .nav-item {
  margin-left: 15px;
  margin-right: 15px;
}






