<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/styles/index.css" />
    <link
      rel="stylesheet"
      href="../../assets/styles/components/navbar-style.css"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <img src="../../public/images/logo.png" alt="Smart Trek Logo" />
        <span class="title">Smart Trek</span>
      </div>

      <ul
        class="nav nav-pills nav-fill gap-2 p-1 small rounded-5"
        id="pillNav2"
        role="tablist"
      >
        <li class="nav-item" role="presentation"></li>
        <li class="nav-item" role="presentation">
          <a class="nav-link rounded-5" href="/app/components/environment.html">
            Overview
          </a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link rounded-5" href="/app/components/environment.html">
            Environment
          </a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link rounded-5" href="/app/components/weather.html">
            Weather
          </a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link rounded-5" href="/app/components/environment.html">
            About the Park
          </a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link rounded-5" href="/app/components/map.html">
            Login/Register
          </a>
        </li>
      </ul>

      <div class="datetimeloc d-flex flex-column me-3">
        <span class="d-flex flex-row"
          >DATE TIME:
          <div id="current-date"></div>
        </span>
        <span>LOCATION: SILA NATIONAL PARK</span>
      </div>
    </div>
  </body>
</html>
